.header {
  background-color: green;
  padding: 20px;
  margin: 10px;
}
.section1 {
  background-color: yellow;
  padding: 20px;
}
.main {
  background-color: red;
  padding: 20px;
}
.footer {
  background-color: blueviolet;
  padding: 20px;
}
.container {
  width: 900px;
  background-color: cyan;
  margin: 0 auto;
}
.lists{
  height: 200px;
  overflow: auto;
}
.text{
  cursor: grab;
}
